  
  .build-card {
    transform-style: preserve-3d;
    transition: transform 0.5s;
    cursor: pointer;
    border-radius: 15px;
    border: 6px solid black;

    width: 300px; /* Adjust the width as needed */
    overflow: hidden;
  }

  
  .card-div.flipped .build-card {
    transform: rotateY(180deg);
  }
  
  .build-card img {
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;

    width: 100%; /* Make the image fill the container */
    height: 200px; /* Adjust the height as needed */
    object-fit: cover;
  }

  .card-name h2 {
    margin-top: 0px;
    margin-bottom: 0px;
    height: 40px;
    color: white; 
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
  }
  
  .build-card .build-card-front {
    background: linear-gradient(
      225deg,
      #ff3cac 0%,
      #784ba0 50%,
      #2b86c5 100%
    );
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    z-index: 2;
  }

  .card-div.flipped .build-card .build-card-front {
    transform: rotateY(180deg);
  }
  
  .build-card .build-card-back {
    background: linear-gradient(
      225deg,
      #ff3cac 0%,
      #784ba0 50%,
      #2b86c5 100%
    );
    z-index: 1;
    border-top-right-radius: 1px;
    border-top-left-radius: 1px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    transform: rotateY(180deg);
  }
  
  .hidden {
    display: none;
  }
  