.build-card {
    width: 200px; /* Set a width for each card */
    border: 5px solid black;
    border-radius: 15px;
    /* margin: 10px;
    padding: 15px;  */
    text-align: center;
    flex: 1 0 20%; /* Each card takes up 20% of the container width, with a minimum width of 200px */
    box-sizing: border-box; /* Include padding and border in the width calculation */
    cursor: pointer;
    background-color: #FF3CAC;
    background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
    color: white;
    text-shadow: 0 0 5px #FF0000, 0 0 5px #0000FF; 
    font-weight: bold;




    
    
}
  
.build-card img {
    /* max-width: 100%;
    max-height: 150px;
    border-radius: 4px;
    margin-top: 10px; */
    width: 100%;
    border-radius: 9px;
    margin-bottom: 9px;
}