.home-container {
    text-align: center;
    padding: 20px;
    background-color: white
    
    
}

.builds-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow-x: auto;
    gap: 20px

}