.navbar {
    padding: 10px 20px;
    display: flex;
    justify-content: center;
}

.nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-item {
    margin-right: 20px;
}

.nav-link {
    text-decoration: none;
    color: red;
    font-weight: bold;
    font-size: 24px;
    transition: color 0.3s ease-in-out;
}

.nav-link:hover {
    color: grey; 
}
