.header {
  font-family: 'Arial', sans-serif;
  font-size: 2em;
  color: #333;
  margin-top: 0;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: left;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.footer {
  background-color: #333;
  color: white;
  padding: 20px 0;
  text-align: center;
  margin-top: 20px; 
}
  
.footer-content {
  max-width: 800px;
  margin: 0 auto;
}

.warning {
  margin-top: 20px;
  font-size: 14px;
  line-height: 1.5;
}

.warning p {
  margin-bottom: 10px;
}
